<plugin name='solr' version='0.3' grailsVersion='2.3.6 &gt; *'>
  <author>Mike Brevoort</author>
  <authorEmail>brevoortm@avalonconsult.com</authorEmail>
  <title>Grails Solr Plugin</title>
  <description>\
Provides search capabilities for Grails domain model and more using the excellent Solr 
open source search server through the SolrJ library.
</description>
  <documentation>http://grails.org/Solr+Plugin</documentation>
  <type>SolrGrailsPlugin</type>
  <resources>
    <resource>org.grails.solr.SolrSearchController</resource>
    <resource>org.grails.solr.SolrService</resource>
    <resource>org.grails.solr.SolrTagLib</resource>
  </resources>
</plugin>